/*
 *  ======================================= 
 *  PROJEKT TWORZONY ZA POMOCA
 *  PREPROCESORA SCSS
 *	JESLI CHCESZ EDYTOWAC COKOLWIEK EDYTUJ
 *  PLIKI SASS  SCSS
 *  =======================================  
 */

@import 'materialize';
@import 'modules/_elements';
@import 'partials/_login';

.page{
	       background-color: #F4F5F7 !important;
}
.search-nav{
	float:left;
    height: 100%;
    position: relative;
    margin-top: 0px;
}
nav{
	background:#3e4855;
}
.nav-subtitle{
	i{
		float:left;
		margin-right:10px;
		margin-left:15px;
	}
}
