nav {
  &.nav-extended {
    height: auto;

    .nav-wrapper {
      height: auto;

    }
  }
  .user-data{
      &-image{
             float: left;
    height: 50px;
    width: auto;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.74);
    margin-top: 8px;
      }
      &-top{
            float: left;
              width: 150px;
      }
      &-top-name{
            float: left;
            width: 100%;
            line-height: 10px;
            height: auto;
            margin-bottom: 0px;
                margin-top: 20px;
            margin-left: 15px;
            font-weight:600;
      }
      &-top-role{
            float: left;
    width: 100%;
    line-height: 10px;
    height: auto;
    margin-bottom: 0px;
    margin-top: 7px;
    margin-left: 15px;
    font-weight:300;
      }
  }

  .navbar-small{
    height:$navbar-small-height;
  }

  color: $navbar-font-color;
  @extend .z-depth-1;
  background-color: $primary-color;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;

  a { color: $navbar-font-color; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 24px;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;
  }

  .navbar-small {
    position: relative;
    height: 100%;
    div{
          height: auto;
          line-height: 40px;

    }

  }

  .search-nav{
    height:$navbar-height !important;
  }

  @media #{$large-and-up} {
    a.button-collapse { display: none; }
  }


  // Collapse button
  .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: $navbar-height-mobile;
    margin: 0 18px;

    i {
      height: $navbar-height-mobile;
      line-height: $navbar-height-mobile;
    }
  }


  // Logo
  .brand-logo {
    position: absolute;
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;
    white-space: nowrap;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$medium-and-down} {
      left: 50%;
      transform: translateX(-50%);

      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
      transition: background-color .3s;
      float: left;
      padding: 0;

      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      font-size: $navbar-font-size;
      color: $navbar-font-color;
      display: block;
      padding: 0 15px;
      cursor: pointer;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;
      }

      &:hover {
        background-color: rgba(0,0,0,.1);
      }
    }

    &.left {
      float: left;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }

  .input-field {
    margin: 0;
    height: 100%;

    input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem;

      &:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border: none;
        box-shadow: none;
      }
    }

    label {
      top: 0;
      left: 0;

      i {
        color: rgba(255,255,255,.7);
        transition: color .3s;
      }
      &.active i { color: $navbar-font-color; }
      &.active {
        transform: translateY(0);
      }
    }
  }
}

// Fixed Navbar
.navbar-fixed {
  position: relative;
  height: $navbar-height-mobile;
  z-index: 997;

  nav {
    position: fixed;
  }
}
@media #{$medium-and-up} {
  nav,nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: $navbar-height;
    line-height: $navbar-height;
  }
  .navbar-fixed {
    height: $navbar-height;
  }
}
 .nav-subtitle{

        max-widht:50%;
        &-holder{
          padding: 15px 20px 15px 0px;
           background:rgba(252,252,252,.89);
          ol.breadcrumb{
              margin-bottom: 0px;
              float: left;
              padding: 0px 20px;
               background:rgba(252,252,252,.89);
              li{
                  display: block;
                  float: left;
                  height: 32px;
                  font-size: 13px;
                  line-height: 32px;
              }
              i{
                    font-size: 17px;
              }
          }
        }
        
        &-holder-small{
                padding: 7px 20px 7px 0px;
        }
        &-border-bottom{
             border-bottom: 1px solid rgba(0,0,0,0.06);
      }
        &-top{
              float: left;
            width: calc(100% - 55px);
            font-weight: 700;
        }
        &-bottom{
              float: left;
              width: calc(100% - 55px);
                  font-weight: 100;
                      color: #9b9b9b;

        }
        i{
              margin-top: 7px;    color: #9b9b9b;
        }

  }
