/**
 * 
 *  LOGIN WINDOW
 *  css/partials/_login.scss
 *
 */
.float-100{
	@extend %float-100;
}
.login{
	background-image:url('../img/bg_login.jpg');
	@extend %background-cover;
	height: 100vh;
	
	&:after{
		@include after_overlay(rgba(33, 33, 33, 0.64));
	}
	&-form{
		width:450px;
		position:absolute;
		left:50%;
		top:50%;
		@include translate(-50%,-50%);
		z-index:9;
	}
}
