/**
 * 
 *  RWD
 *  css/partials/_rwd.scss
 *
 */

@media screen and (max-width: 1199px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 991px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 460px){

}
@media screen and (max-width: 360px){
	
}